@page "/Contact"

<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-title">
                    <h4>Kontakt</h4>
                    <p>
                        Sie können mich über dieses Formular kontaktieren und ich werde Ihnen anschließend
                        schnellstmöglich eine Rückantwort senden !
                    </p>
                </div>
                <div class="contact-widget">
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-location-pin"></i>
                        </div>
                        <div class="ci-text">
                            <span>Adresse:</span>
                            <p>Tal Str. 44 Stuttgart</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-mobile"></i>
                        </div>
                        <div class="ci-text">
                            <span>Telefon:</span>
                            <p>+49 172 205 652 8</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-email"></i>
                        </div>
                        <div class="ci-text">
                            <span>E-Mail:</span>
                            <p>ErnadJakupovic@yahoo.de</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
