@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject NavigationManager navigationManager
@inject ProtectedLocalStorage protectedLocalStorage

@if (proveLogged())
{
    navigationManager.NavigateTo("/Index");
}

<div class="wrapper">
    <header>
        <div class="container">
            <div class="header-title">
                <div class="name">
                    Ernad Jakupovic
                </div>
                <div class="clearfix"></div>
                <div class="description">
                    Anwendungsentwickler
                </div>
            </div>
        </div>
    </header>

    <NavMenu></NavMenu>

    <div class="container">
        @Body
    </div>
</div>

<footer>
    <div class="container">
        <div class="footer-top d-none d-lg-block">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Adresse</h3>
                    <p class="mb-0"><i class="fa fa-user"></i> Ernad Jakupovic</p>
                    <p class="mb-0"><i class="fa fa-road"></i>Talstr. 44</p>
                    <p class="mb-0"><i class="fa fa-building"></i> 70188 Stuttgart</p>
                </div>
                <div class="col-lg-6">
                    <h3>Kontakt</h3>
                    <p class="mb-0"><i class="fa fa-phone"></i> +49 172 205 652 8</p>
                    <p class="mb-0"><i class="fa fa-envelope-o"></i> ErnadJakupovic@yahoo.de</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-copyright">
                &copy; 2021 Ernad Jakupovic - Alle Rechte vorbehalten.
            </div>

            <div class="clear"></div>

            <div class="footer-bottom-links">
                <span class="item">
                    <a href="https://de.webnode.com/datenschutzerklaerung/" target="_blank">Datenschutz</a>
                </span>
            </div>
        </div>
    </div>
</footer>

@code{
    bool logged;

    public bool proveLogged()
    {
        var x = protectedLocalStorage.GetAsync<string>("Logged");

        return false;
    }
}
