<nav class="navbar navbar-expand-lg navbar-dark bgBlue">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav w-100">
                <li class="nav-item" id="Homepage">
                    <a class="nav-link" href="#">Startseite</a>
                </li>
                <li class="nav-item" id="AboutMe">
                    <a class="nav-link" href="#">Über mich</a>
                </li>
                <li class="nav-item" id="Skills">
                    <a class="nav-link" href="#">Skill-Matrix</a>
                </li>
                <li class="nav-item" id="CV">
                    <a class="nav-link" href="#">Lebenslauf</a>
                </li>
                <li class="nav-item" id="Project">
                    <a class="nav-link" href="#">Projekte</a>
                </li>
                <li class="nav-item" id="Contact">
                    <a class="nav-link" href="#">Kontakt</a>
                </li>
                <li class="nav-item ml-auto" id="Logout">
                    <a class="nav-link text-danger font-weight-bold" href="#">Abmelden</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
